<div [@flyInOut]="'in'">

    <div class="container content">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                <li data-target="#carousel-example-generic" data-slide-to="6"></li>
                <li data-target="#carousel-example-generic" data-slide-to="7"></li>
                <li data-target="#carousel-example-generic" data-slide-to="8"></li>
                <li data-target="#carousel-example-generic" data-slide-to="9"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active"><!--1-->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="thumbnail adjust1">
                                <img src="../../assets/images/DSC_3978.jpg" width="500"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item"><!--2-->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="thumbnail adjust1">
                                <img src="../../assets/images/DSC_3982.jpg" width="500" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item"><!--3-->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="thumbnail adjust1">
                                <img src="../../assets/images/DSC_3987.jpg" width="500" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item"><!--4-->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="thumbnail adjust1">
                                <img src="../../assets/images/DSC_3990.jpg" width="500" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <!--5-->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="thumbnail adjust1">
                                <img src="../../assets/images/DSC_4004.jpg" width="500" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <!--6-->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="thumbnail adjust1">
                                <img src="../../assets/images/DSC_4014.jpg" width="500" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <!--7-->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="thumbnail adjust1">
                                <img src="../../assets/images/DSC_4020.jpg" width="500" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <!--8-->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="thumbnail adjust1">
                                <img src="../../assets/images/DSC_4030.jpg" width="500" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <!--9-->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="thumbnail adjust1">
                                <img src="../../assets/images/DSC_4035.jpg" width="500" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <!--10-->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="thumbnail adjust1">
                                <img src="../../assets/images/DSC_4040.jpg" width="500" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a>
        </div>
    </div>

    <hr>
    <!-- Title -->
    <div class="row">
        <div class="col-lg-12">
            <h3>Latest Features</h3>
        </div>
    </div>
    <!-- /.row -->
    <!-- Page Features -->
    <div class="row text-center">
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="../../assets/images/DSC_4049.jpg" width="500"/>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="../../assets/images/DSC_4052.jpg" width="500" />
            </div>
        </div>
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="../../assets/images/DSC_4056.jpg" width="500" />
            </div>
        </div>
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <img src="../../assets/images/DSC_4090.jpg" width="500" />
            </div>
        </div>
    </div>
    <!-- /.row -->
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; <a href="https://chsakell.com" target="_blank">chsakell's Blog</a></p>
            </div>
        </div>
    </footer>
</div>