<div [@flyInOut]="'in'">

    <div class="container content">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                <li data-target="#carousel-example-generic" data-slide-to="6"></li>
                <li data-target="#carousel-example-generic" data-slide-to="7"></li>
                <li data-target="#carousel-example-generic" data-slide-to="8"></li>
                <li data-target="#carousel-example-generic" data-slide-to="9"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active"><!--1-->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="thumbnail adjust1">
                                <img src="../../assets/images/DSC_3978.jpg" width="500"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item"><!--2-->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="thumbnail adjust1">
                                <img src="../../assets/images/DSC_3982.jpg" width="500" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item"><!--3-->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="thumbnail adjust1">
                                <img src="../../assets/images/DSC_3987.jpg" width="500" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item"><!--4-->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="thumbnail adjust1">
                                <img src="../../assets/images/DSC_3990.jpg" width="500" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <!--5-->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="thumbnail adjust1">
                                <img src="../../assets/images/DSC_4004.jpg" width="500" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <!--6-->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="thumbnail adjust1">
                                <img src="../../assets/images/DSC_4014.jpg" width="500" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <!--7-->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="thumbnail adjust1">
                                <img src="../../assets/images/DSC_4020.jpg" width="500" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <!--8-->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="thumbnail adjust1">
                                <img src="../../assets/images/DSC_4030.jpg" width="500" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <!--9-->
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="thumbnail adjust1">
                                <img src="../../assets/images/DSC_4035.jpg" width="500" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span> </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span> </a>
        </div>
    </div>

    <hr>
    <!-- Title -->
    <div class="row">
        <div class="col-lg-12">
            <h3>Latest Features</h3>
        </div>
    </div>
    <!-- /.row -->
    <!-- Page Features -->
    <div class="row text-center">
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <span class="fa-stack fa-5x">
                    <i class="fa fa-square fa-stack-2x text-primary"></i>
                    <i class="fa fa-html5 fa-stack-1x fa-inverse"></i>
                </span>
                <div class="caption">
                    <h3>ASP.NET Core</h3>
                    <p>ASP.NET Core is a significant redesign of ASP.NET.</p>
                    <p>
                        <a href="https://docs.asp.net/en/latest/" target="_blank" class="btn btn-primary">More..</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <span class="fa-stack fa-5x">
                    <i class="fa fa-square fa-stack-2x text-primary"></i>
                    <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                </span>
                <div class="caption">
                    <h3>EF Core</h3>
                    <p>A cross-platform version of Entity Framework.</p>
                    <p>
                        <a href="https://docs.efproject.net/en/latest/" target="_blank" class="btn btn-primary">More..</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <span class="fa-stack fa-5x">
                    <i class="fa fa-square fa-stack-2x text-primary"></i>
                    <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                </span>
                <div class="caption">
                    <h3>Angular</h3>
                    <p>Angular is a platform for building mobile and desktop web apps.</p>
                    <p>
                        <a href="https://angular.io/" target="_blank" class="btn btn-primary">More..</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <span class="fa-stack fa-5x">
                    <i class="fa fa-square fa-stack-2x text-primary"></i>
                    <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
                </span>
                <div class="caption">
                    <h3>TypeScript</h3>
                    <p>A free and open source programming language.</p>
                    <p>
                        <a href="https://www.typescriptlang.org/" target="_blank" class="btn btn-primary">More..</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; <a href="https://chsakell.com" target="_blank">chsakell's Blog</a></p>
            </div>
        </div>
    </footer>
</div>